<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="$(optenv SCOUT_JOY_DEVICE /dev/input/js0)" />
  <arg name="joystick" default="true" />

  <group ns="key_teleop">
    <node pkg="scout_control" type="key_scout_teleop" name="scout_teleop_keyboard"  output="screen">
    </node>
  </group>

</launch>
